.section_tags {
    margin: 10px 0;
    .owl-stage {
        width: 5000px !important;
    }
    .owl-item {
        margin-right: 10px;
        border-radius: 5px;
        a {
            text-decoration: none;
            padding: 5px;
            display: inline-block;
            color: #222222;
            border-radius: 10px;
            width: 100%;
            text-align: center;
            border: 1px solid $pink;
            &.active {
                border: 1px solid #fb6a00;
                font-weight: bold;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .section_one {
        .lists-course-mb {
            overflow: auto;
            white-space: nowrap;
            width: 100%;
            .item {
                float: none;
                width: 265px !important;
                display: inline-block;
            }
        }
    }
}
